/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/poppins-v15-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v15-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v15-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v15-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/poppins-v15-latin-regular.svg#Poppins") format("svg"); /* Legacy iOS */
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-base {
  @apply font-bold py-2 px-4;
}
.btn {
  @apply font-bold py-2 px-4 rounded-lg;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}

.btn-blue:hover {
  @apply bg-blue-400;
}

.btn-slate {
  @apply bg-slate-600 text-white;
}

.btn-slate:hover {
  @apply bg-slate-700;
}

.h-80vh {
  height: 80vh;
}

.container-custom {
  @apply container px-0
}

.grid-cols-24 {
  grid-template-columns: repeat(24, minmax(0, 1fr));
}

.special-text {
  text-align: left;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0px;
  color: #397FCC;
  opacity: 1;
}

.center-image-inside {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1023px) {
  .xl-grid-column-start-8 {
    grid-column-start: 8 !important;
  }
}
.home-container > div:not(:first-child) {
  margin-top: 2vh;
}

.special-p {
  font: normal normal normal 18px/28px Poppins;
  letter-spacing: 0px;
  color: #8E9DAD;
  opacity: 1;
}

.select-blog-container {
  background-color: white;
  position: relative;
  width: 20vw;
  min-height: 10vh;
  bottom: 18vh;
  max-height: 18vh;
  overflow-y: scroll;
  left: 6vw;
}

.select-blog-container > div {
  margin-top: 25px;
  margin-left: 16px;
  text-align: left;
  font: normal normal normal 17px/26px Poppins;
  letter-spacing: 0px;
  color: #4A596B;
  opacity: 1;
  display: inline-flex; 
}
.select-blog-container > div:last-child {
  margin-bottom: 25px;
}

.select-blog-container > div[selected="true"] {
  text-align: left;
  font: normal normal normal 18px/27px Poppins;
  letter-spacing: 0px;
  color: #F7941D;
  opacity: 1;
}

.select-blog-container > div > img {
  width: 3vw;
  height: 24px;
  /* position: absolute; */
  padding-right: 15px;
  content:url("http://localhost:3000/blue-b-circle.png");
}
.select-blog-container > div[selected="true"] > img {
  content:url("http://localhost:3000/orange-b-circle.png");
}
